<div class="navbar">
  <div class="navbar-logo">

  </div>
  <div class="navbar-title">
    <h1>Redux chat</h1>
  </div>
  <div class="navbar-links">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
